* {
  box-sizing: border-box;
}

body {
  background-color: white;
  margin: 0;
}

html {
  font-size: 16px;
}

#container {
  width: 50vw;
	margin: 0 auto;
}

#submit {

}

.button {

}

.guesses {

}
