body {
  margin: 0;
  overflow-x: hidden;
}

#container {
  width: 120%;
  margin-left: auto;
  margin-top: auto;
}

.tile1, .tile2, .tile3 {
  margin: -10px;
  float: left;
  opacity: 1;
}

.tile1 {
  background-color: rebeccapurple;
  width: 100px;
  height: 100px;
}

.tile2 {
  background-color: orange;
  width: 100px;
  height: 100px;
  opacity: .5;
}

.tile3 {
  background-color: pink;
  width: 100px;
  height: 100px;
}
