body {
  margin: 0;
  overflow-x: hidden;
}

#container {
  width: 120%;
  margin-left: -10px;
  margin-top: -10px;
}

.tile1, .tile2, .tile3 {
  width: 100px;
  height: 200px;
  margin: -5px;
  float: left;
  opacity: .5;
}

.tile1 {
  background-color: green;
}

.tile2 {
  background-color: pink;
}

.tile3 {
  background-color: blue;
}
