* {
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  margin: auto;
}

#container {
  width: 320px;
  margin: 50px;
}

.header {
  height: 50px;
  width: 320px;
  background-color: blue;
  margin-bottom: 10px;
  float: left;
}

.button {
  width: 200px;
  height: 50px;
  margin-top: 10px;
  margin-right: 50px;
  float: left;
}

p {
  font-family: fira-sans, sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  margin: 0;
  text-indent: 20px;
  padding: 10px;
}

h1 {
  font-family: fira-sans, sans-serif;
  font-size: 32px;
  font-weight: 600;
  font-style: normal;
  line-height: 0.05;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}

h2 {
  font-family: fira-sans, sans-serif;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  margin: auto;
  color: aliceblue;
}

h3 {
  font-family: fira-sans, sans-serif;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  line-height: 0.05;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.bg {
  height: 90px;
  background-color: blue;
  margin-top: 5px;
}

.bg2 {
  height: 180px;
  background-color: blue;
  margin-top: 5px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: aqua;
  transition: 0.75s;
  font-style: italic;
}

img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.left {
  width: 110px;
  height: 300px;
  float: left;
  margin-bottom: 10px;
}

.center {
  width: 10px;
  height: 300px;
  float: left;
  background-color: whitesmoke;
}

.right {
  width: 110px;
  height: 300px;
  float: left;
  margin-bottom: 10px;
}

.credits {
  background-color: darkblue;
  float: left;
  width: 110px;
  height: 20px;
  margin-bottom: 10px;
}

.divider {
  background-color: darkblue;
  float: left;
  width: 320px;
  height: 10px;
  margin-bottom: 10px;
}
